.footerContent{
    height: auto;
    position: relative;
    margin-top: 1600px;
}
.footerContent .footer{
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 1550px;
    padding: 0 335px;
    background-color: #F5F5F7;
}
.footerContent .footer .infoFooter{
    font-size: 0.88vw;
    text-align: start;
    color: #8D8D92;
    padding-top: 3vh;
}
.footerContent .footer .linkFooter{
    display: flex;
    justify-content: space-between;
}
.footerContent .footer .linkFooter div{
    display: grid;
    grid-template-columns: 1fr;
}
.footerContent .footer .linkFooter div:nth-child(1){
    height: 50vh;
}
.footerContent .footer .linkFooter div:nth-child(2){
    height: 62vh;
}
.footerContent .footer .linkFooter div:nth-child(3){
    height: 46vh;
}
.footerContent .footer .linkFooter div:nth-child(4){
    height: 60vh;
}
.footerContent .footer .linkFooter div:nth-child(6){
    height: 62vh;
}
.footerContent .footer .linkFooter div a{
    color: #646464;
    text-decoration: none;
    margin-top: 2.5px;
    font-size: 15px;
}
.footerContent .footer .linkFooter div a:hover {
    text-decoration: underline;
}
.footerContent .footer .linkFooter div .h6Top{
    margin-top: 3vh;
}
.footerContent .footer .linkFooter div h6{
    color: #1d1d1fb6;
    font-size: 1.1vw;
    font-weight: 900;
}
.footerContent .footer .aboutFooter{
    display: grid;
    grid-template-columns: 1fr;
    font-size: 0.9vw;
    margin-top: 3vh;
    color: #646464ad;
}
.footerContent .footer .aboutFooter a{
    text-decoration: none;
    color: rebeccapurple;
}
.footerContent .footer .aboutFooter a:hover,.footer .linkFooter a:hover,.footer .infoFooter a:hover{
    text-decoration: underline;
}